<%- include("header") -%>
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, ab. Quae alias sit ducimus distinctio rerum animi nostrum provident praesentium accusantium fugiat iusto officia maxime, odio, vero architecto a eius!</p>
<%- include("footer") -%>
